*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}

.gallery{
    flex-basis: 47%;
    background: white;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.gallery img{
    width: 100%;
    display: block;
    padding-top: 100px;
}

.detais{
    flex-basis: 53%;
    background: rgb(245, 242, 242);
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }